*{
    margin: 0;
    padding: 0;
}

header{ background-image: linear-gradient( to right, white, blue);
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
  
    
}
nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aqua;
    padding: 30px;
    }
    nav a{
        margin: 10px;
        padding: 20px; 
         text-decoration: none;
    }
    h1{
        text-align: center;
        color: blue;

    }
    p{
        text-align: center;
        text-transform: lowercase;
    }
  
    footer{
        display: flex;
        justify-content: center;
        text-decoration: none;
        }

        .parrafo{
            font-size: 40px;
            animation-name: parrafo;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-delay: 6s;
        }
  @keyframes parrafo {
      0%{
          color: aquamarine;
      }
      2%{
          font-size: 5px;
      }
  }